@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}
.gallery{
  padding: 20px 0px 120px 0px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* padding: 30px 0px 50px 0px; */
  background-color: rgb(213, 213, 213);
}
.gallery-head h2{
  /* font-weight: bolder; */
  padding: 15px 0px;
  text-align: center;
  font-family: sans-serif;
}
.splide img{
  width: 370px;
  height: 400px;
  cursor: pointer;
  transition: .5s;
}
.splide img:hover{
  box-shadow: 0 0 35px black;
}
.container {
  max-width: 80%;
  margin: auto;
}

.flex1 {
  display: flex;
  justify-content: space-between;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 40px;
}

.grid1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 40px;
}

/*----global ----*/
header {
  background-image: url("assets/back31.jpg");
  /* background-position: center; */
  background-size: cover;
  background-repeat: no-repeat;
  height: 10%;
  position: sticky;
  top: 0;
  z-index: 100;
}

header .container_content {
  background-color: rgba(0, 0, 0, 0.7);
  height: 10vh;
  display: flex;
}
header .container_content .container{
  width: 100%;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

header .brand img {
  width: 75px;
  filter: invert(1);
  
}
header .brand img:hover{
  filter: saturate(1);
  transition: .5s;
}
header ul {
  position: relative;
  display: flex;
}

header ul li {
  padding-left: 50px;
  text-align: center;
  list-style: none;
  line-height: 50px;
}

header ul li a {
  color: white;
  font-size: 17px;
  transition: 0.5s;
  text-decoration: none;
  font-family: sans-serif;
  letter-spacing: 2px;
  transition: .4s;
}

header ul li a:hover {
  color: rgb(225, 0, 0);
}

#icon {
  color: rgb(255, 0, 0);
  font-size: 30px;
  line-height: 40px;
  cursor: pointer;
  margin: 10px;
  display: none;
  opacity: 0;
}

header .icon{
  color: white;
  padding-top: 20px;
}

header .icon i {
  font-size: 20px;
  margin-right: 20px;
}

header .icon label {
  margin-right: 20px;
  font-size: 18px;
  opacity: 0.7;
}

header hr {
  opacity: 0.2;
  margin-top: 20px;
  width: 100%;
}

.home {
  height: 90vh;
  padding: 15px 70px;
  text-align: center;
  color: white;
  background-image: url("assets/back31.jpg");
  background-size: cover;
}

.home h3 {
  font-size: 25px;
  font-weight: 100;
  font-family: sans-serif;
  letter-spacing: 4px;
  word-spacing: 5px;
}

.home h1 {
  font-size: 85px;
  /* color: white; */
  font-family: monospace;
  font-weight: bold;
  margin-top: 30px;
}

.home .item {
  margin-top: 7%;
  text-align: left;
}

.home .item a {
  font-size: 20px;
  color: white;
}

.home .item .item_box {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 30px 10px;
  border-radius: 5px;
  transition: 0.5s;
}

.home .item p {
  font-family: cursive;
  font-size: 14px;
  /* line-height: 35px; */
  margin-top: 5px;
}

.home .item .text {
  margin-left: 20px;
}

.home .item img {
  width: 100px;
  height: 100px;
}

.home .item_box:hover {
  background: rgba(0, 0, 0, 0.823);
  transform: translateY(-10px);
  color: white;
}

.home .item .item_box:hover a {
  color: red;
  font-weight: bolder;
}

.home .item_box:hover img {
  background-color: rgba(255, 0, 0, 0.69);
}


@media only screen and (max-width: 800px) {

  /*---------------header--------*/
.grid {
    grid-template-columns: repeat(1, 1fr);
  }

.container {
    max-width: 100%;
  }
  .splide img{
    width: 200px;
    height: 300px;
  }
header ul {
    background: #fff;
    display: block;
    transition: 0.5s;
    top: -20px;
    position: fixed;
    width: 70%;
    height: 100%;
    place-items: center;
  }

header ul li {
    text-align: left;
    margin-top: 20px;
  }

header ul li a {
    font-size: 15px;
    font-family: sans-serif;
    color: black;
  }

header ul li a:hover {
    color: #12B0BB;
  }

#icon {
    opacity: 1;
    display: block;
    position: absolute;
    right: 20px;
  }

  /*---------------header--------*/
header {
    background-image: url("../image/back.jpg") center;
    background-size: cover;
    height: 10vh !important;
  }

header nav{
  padding: 10px;
}
header nav .menu{
  background-color: black;
}
.gallery{
  padding: 10px 0 40px 0;
}
.homeContent .home{
  height: 90%;
}
.homeContent .home h3 {
    font-size: 18px;
  }

.homeContent .home h1 {
    font-size: 60px;
    color: darkblue;
  }

.homeContent .home .item {
    margin-top: 20%;
  }

.homeContent .home .item .item_box {
    padding: 20px;
  }
}

/*---------------Design--------*/
.Design {
  margin-top: 5%;
  text-align: center;
}

.Design .box {
  flex-direction: row;
}

.Design .box i {
  font-size: 80px;
  margin-right: 40px;
  position: relative;
}

.Design .box i::after {
  content: " ";
  position: absolute;
  width: 80px;
  height: 80px;
  background: rgba(255, 0, 0, 0.5);
  border-radius: 50%;
  left: -30%;
  top: -10%;
}

.Design .box h4 {
  font-size: 25px;
  font-weight: 100;
  margin-bottom: 10px;
}

.Design .box p {
  font-size: 20px;
  color: grey;
  line-height: 35px;
}

.left,
.right {
  width: 50%;
  padding: 40px;
}

.h2 {
  font-size: 40px;
  font-family: sans-serif;
}

.about {
  margin-top: 5%;
}

.about img {
  width: 100%;
  height: 100%;
}

.about .img::after {
  content: '';
  position: absolute;
  width: 485px;
  height: 500px;
  border: 10px solid skyblue;
  left: 13.5%;
  margin-top: 30px;
}

.h5 {
  letter-spacing: 2px;
  color: crimson;
  font-size: 18px;
  margin-bottom: 20px;
}

.about .accordion {
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  outline: none;
  font-size: 20px;
  transition: 0.5s;
  border: none;
  margin-top: 20px;
  position: relative;
  background: #d0d5db;
  border-radius: 5px;
}
.about .accordion span{
  font-size: 10px;
  font-family: cursive;
  font-weight: bold;
}
.about .panel {
  padding: 0 18px;
  display: none;
  overflow: hidden;
}

.about .panel.active {
  display: block;
}

.about p {
  font-weight: bold;
  font-size: 18px;
  color: grey;
  /* line-height: 35px; */
  padding: 10px;
}

/*---------------about--------*/
/*---------------Testimonials--------*/
.Testimonials {
  text-align: center;
  margin-top: 5%;
  text-align: center;
}

.Testimonials .img {
  width: 100px;
  height: 100px;
}

.Testimonials .img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.h3 {
  font-size: 30px;
  font-weight: 100;
  margin-top: 20px;
}

.Testimonials .item {
  background: white;
  padding: 40px;
  transition: 0.5s;
}

.Testimonials .item:hover {
  background: #d0d5db;
  color: white;
}

.Testimonials .box .text {
  text-align: left;
  margin-left: 20px;
}

.Testimonials .box .text h5 {
  margin-top: 20px;
  color: black;
}

.Testimonials p {
  font-size: 20px;
  text-align: left;
  color: grey;
  line-height: 35px;
}

/*---------------Testimonials--------*/
/*---------------photo--------*/
.photo {
  background: rgba(0, 0, 0, 0.03);
}

.photo .box {
  background: white;
  padding: 50px;
  text-align: center;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.05);
  transition: 0.5s;
}

.photo .box img {
  width: 80px;
  height: 80px;
  margin-top: 10%;
}

.photo .box:hover {
  transform: translateY(-20px);
}

/*---------------photo--------*/
/*---------------blog--------*/
.blog {
  margin-top: 10%;
  text-align: center;
}

.blog .box {
  text-align: left;
}

.blog .img {
  overflow: hidden;
  position: relative;
}

.blog img {
  width: 100%;
  height: 100%;
  transition: 0.5s;
}

.blog img:hover {
  transform: scale(1.1);
}

.blog .box label {
  font-size: 20px;
  color: grey;
}

.blog .box p {
  font-size: 25px;
  margin-top: 20px;
  margin-bottom: 70px;
}

.blog a {
  background: skyblue;
  padding: 15px 60px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  transition: 0.5s;
}

.blog a:hover {
  background: none;
  border: 2px solid skyblue;
  color: black;
}

footer {
  /* margin-top: 20%; */
  background: rgba(0, 0, 0, 0.8);
  color: grey;
}

footer .content {
  /* padding-top: 5%; */
  margin-top: 5%;
}

footer .content .item {
  padding: 40px;
  transition: 0.5s;
}

footer h3 {
  color: white;
  margin: 15px 0;
}

footer ul {
  list-style: none;
}

footer ul li {
  padding: 10px;
  font-size: 20px;
}

footer .box {
  margin-top: 20px;
}

footer .img {
  width: 100px;
  height: 100px;
}

footer .img img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  transition: 0.5s;
}

footer .text {
  margin-left: 20px;
}

footer p {
  font-size: 22px;
  margin-top: 20px;
}

footer input {
  width: 83%;
  padding: 10px;
  font-size: 18px;
  margin-top: 20px;
  background: none;
  border: 1px solid grey;
}

footer input:focus {
  outline: none;
}

footer .label {
  background: skyblue;
  padding: 12px;
  color: white;
  font-size: 18px;
  margin-left: -20px;
}

footer .icon i {
  font-size: 20px;
  margin-right: 20px;
}

footer .legal {
  text-align: center;
  padding: 20px 50px;
}

footer .legal i,
footer .legal label {
  color: skyblue;
}

footer .content i:hover,
footer .content label:hover,
footer .content p:hover,
footer .content li:hover {
  color: white;
  cursor: pointer;
  transform: translateX(10px);
}

footer .content i,
footer .content label,
footer .content p,
footer .content li {
  transition: 0.5s;
}

@media only screen and (max-width: 800px) {

  /*---------------Design--------*/
  .Design {
    text-align: left;
    padding: 40px;
  }

  /*---------------Design--------*/
  /*---------------about--------*/
  .left,
  .right {
    width: 100%;
    padding: 40px;
  }

  h2 {
    text-align: center;
  }

  .about .container {
    flex-direction: column;
  }

  .about .img::after {
    left: 8%;
    width: 615px;
    height: 660px;
  }

  h5 {
    text-align: center;
  }

  /*---------------about--------*/
  /*---------------Testimonials--------*/
  .Testimonials .box .text h5 {
    font-size: 14px;
    text-align: left;
  }

  /*---------------Testimonials--------*/
}

/* @media only screen and (min-width: 320px) {
  .about .img::after {
    left: 8%;
    width: 380px;
    height: 385px;
  }
} */
@media only screen and (max-width: 500px) {
.gallery{
  margin: 25px 0;
}
  .flex1 {
    display: flex;
    justify-content: space-between;
  }

  .flex {
    display: flex;
  }

  .grid1 {
    grid-template-columns: repeat(1, 1fr);
  }

  /*----global ----*/
  header {
    background-image: url("assets/back.jpg");
    background-size: cover;
    background-position: center;
    height: 13vh !important;
  }
  header .container_content{
    height: 13vh;
  }
  header .icon i {
    font-size: 15px;
    margin-right: 10px;
  }

  header .icon label {
    display: none;
  }

 .home h3 {
    font-size: 15px;
  }
.home{
  /* background-image: url("assets/back31.jpg"); */
  /* background-size: cover; */
  background-position: center;
  padding: 15px 5px;
}
.home h1 {
    font-size: 50px;
  }

.home .item .item_box {
    padding: 10px 5px;
  }

.home .item p {
    font-size: 15px;
    /* line-height: 25px; */
    /* margin-top: 10px; */
  }

.home .item img {
    width: 60px;
    height: 60px;
  }

  /*---------------Design--------*/
  .Design {
    text-align: left;
  }

  .Design .box i {
    font-size: 50px;
    margin-right: 20px;
  }

  .Design .box i::after {
    width: 50px;
    height: 50px;
    left: 0%;
    top: 0%;
  }

  .Design .box h4 {
    font-size: 20px;
  }

  .Design .box p {
    font-size: 17px;
    line-height: 25px;
  }

  /*---------------Design--------*/
  /*---------------about--------*/
  .left,
  .right {
    width: 100%;
    padding: 10px 0px;
  }

  h2 {
    font-size: 20px;
  }
  .about p {
    font-size: 15px;
  }
  .about .img::after {
    width: 430px;
    height: 450px;
    left: 4%;
  }
  .about .right h5{
    font-size: 25px;
  }
  /*---------------about--------*/
  footer .legal {
    font-size: 12px;
    padding: 0;
  }
}